<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{prestamo.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{prestamo.list.headline}]]</h1>
                <div>
                    <a th:href="@{/prestamos/add}" class="btn btn-primary ms-2">[[#{prestamo.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${prestamos.empty}">[[#{prestamo.list.empty}]]</div>
            <div th:if="${!prestamos.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{prestamo.idBiblioteca.label}]]</th>
                            <th scope="col">[[#{prestamo.fechaInicio.label}]]</th>
                            <th scope="col">[[#{prestamo.fechaDevolucion.label}]]</th>
                            <th scope="col">[[#{prestamo.estadoLibro.label}]]</th>
                            <th scope="col">[[#{prestamo.idLibro.label}]]</th>
                            <th scope="col">[[#{prestamo.idLector.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="prestamo : ${prestamos}">
                            <td>[[${prestamo.idBiblioteca}]]</td>
                            <td>[[${prestamo.fechaInicio}]]</td>
                            <td>[[${prestamo.fechaDevolucion}]]</td>
                            <td>[[${prestamo.estadoLibro}]]</td>
                            <td>[[${prestamo.idLibro}]]</td>
                            <td>[[${prestamo.idLector}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/prestamos/edit/{idBiblioteca}(idBiblioteca=${prestamo.idBiblioteca})}" class="btn btn-sm btn-secondary">[[#{prestamo.list.edit}]]</a>
                                    <form th:action="@{/prestamos/delete/{idBiblioteca}(idBiblioteca=${prestamo.idBiblioteca})}"
                                            th:hx-confirm="#{delete.confirm}" method="post" class="d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{prestamo.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
